@page "/"
@page "/index"
@inject IRepositorio  repositorio
@inject IJSRuntime js
@inject IMostrarMensajes mostrarMensajes
 


<br />
<img class="rounded-circle mx-auto d-block" src="Imagenes/wildewfood.jpg" alt="Imagen" width="600" height="500" />
<br />
<h1 class="text-center">WildeFood - GT SISTEMAS !</h1>

<h4 class="text-center">Bienvenido a su pagina de Gestion</h4>
<h6>Contactanos: gt-sistemas.com</h6>


 