@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensaje


<EditForm Model="categoria" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-field col-4">
        <label>Nombre:</label>
        <div>
            <InputText Class="form-control" @bind-Value="@categoria.Rubro" />
            <ValidationMessage For="@(() => categoria.Rubro)" />
        </div>
    </div>

    <br />
    <div class="form-field col-4">

        <a class="btn btn-warning" href="javascript:history.go(-1)">Volver</a>
        <button type="submit" class="btn btn-primary">@TextoBoton</button>

    </div>
    <br />
</EditForm>

@code { [Parameter] public Categoria categoria { get; set; } = new Categoria();
    [Parameter] public String TextoBoton { get; set; } = "Guardar";
    [Parameter] public EventCallback OnValidSubmit { get; set; }



    
    }
